* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "GodOfWar";
}

@font-face {
  font-family: "GodOfWar";
  src: url("../Font/GODOFWAR.TTF") format("truetype");
}

section p {
  font-family: Arial;
}

:root {
  --primary: rgb(79, 0, 0);
  --secondary: rgb(43, 0, 0);
  --dark-red: rgb(116, 0, 0);
  --border-color: rgba(139, 0, 0, 0.6);
  --textcolor: rgb(152, 0, 0);
}

html {
  scroll-behavior: smooth;
  scroll-padding: 11rem;
  scrollbar-color: var(--primary) black;
}

.nav-img-size {
  width: 100px;
  height: auto;
}

.bg-darker {
  background-color: black;
}

.border-nav {
  border: 1rem double var(--primary);
}

.border-b {
  border-bottom: 1rem double var(--dark-red);
}

.border-ridge {
  border: 1rem ridge var(--border-color);
}

.border-double {
  border: 1rem double var(--border-color);
}

.omega-img {
  width: 50dvw;
}

.kratos-rage-img {
  width: 50dvw;
  filter: drop-shadow(30px 0px 0px var(--primary));
}

.text-red {
  color: var(--textcolor);
}

.bg-main {
  background-color: var(--secondary);
}

.bg-red {
  background-color: var(--secondary);
}

.kratos-stand-img {
  height: 90%;
  max-width: 70%;
  left: -20%;
  filter: drop-shadow(50px 10px 0px var(--primary));
}

.text-justify {
  text-align: justify;
}

.Kratos-BG {
  filter: drop-shadow(-50px -10px 0px var(--primary));
}

.start-80 {
  left: 80%;
}

.h-10 {
  height: 7rem;
}

/* For Phones */
@media screen and (orientation: portrait) and (min-width: 300px) {
  .kratos-rage-img {
    height: 50dvh;
    width: 150dvw;
  }

  .omega-img {
    width: 150dvw;
  }
}

/* For Phones */
@media screen and (orientation: landscape) and (max-width: 900px) and (max-height: 600px) {
  .omega-img {
    width: 35dvw;
  }
}

/* For Tablets */
@media screen and (orientation: portrait) and (min-width: 760px) and (min-height: 1000px) {
  .kratos-rage-img {
    height: 55dvh;
    width: 100dvh;
  }

  .omega-img {
    width: 100dvw;
  }
}

/* For Tablets */
@media screen and (orientation: landscape) and (min-width: 1000px) and (min-height: 760px) {
  .kratos-rage-img {
    height: 65dvh;
    width: 70dvw;
  }

  .omega-img {
    width: 80dvw;
  }
}
