body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 0rem 1fr;
    grid-template-rows: 0% 1fr 1fr;
    row-gap: 12rem;
    grid-template-areas:
        "navBar navBar"
        "sideBar main1"
        "footer footer";
}

.navbar {
    grid-area: navBar;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}