* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.img-screen {
  mix-blend-mode: screen;
}

.nav-img-size {
  width: 100px;
  height: auto;
}

.bg-nav {
  background-color: black;
}

.border-nav {
  border: 1rem double rgb(79, 0, 0);
}

.profile-img {
  width: clamp(35rem, 40rem, 45rem);
  filter: drop-shadow(20px 0px 0px rgb(116, 0, 0));
}

.text-red {
  color: rgb(152, 0, 0);
}

.bg-main {
  background-color: rgb(43, 0, 0);
}

.bg-red {
  background-color: rgb(79, 0, 0);
}

.text-justify {
  text-align: justify;
}
