* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.bg-nav {
  background-color: rgb(213, 255, 217);
}

.bg-green {
  background-color: rgb(148, 174, 137);
}

.webname {
  font-size: 2rem;
}

.profile-img {
  width: 300px;
  height: auto;
}

.text-justify {
  text-align: justify;
}
